<!DOCTYPE html>
<html>
<head>
  <title>ProjectManage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="user_nav">
<% if user_signed_in? %>
  Sined in as <%= current_user.email %>  Not you?
  <%= link_to 'Sign out' , destroy_user_session_path , :method => :delete %>
<% else %>
<%= link_to 'Sign in' , new_user_session_path   %>
<%= link_to 'Sign up' , new_user_registration_path   %>
<% end %>
  

</div>

       <p id="notice"><%= notice %></p>
       <p id="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
